# Data (never commit)
data/
results/
*.nii
*.nii.gz
*.edf
*.set
*.fdt

# EEG output formats (MNE)
*.fif
*.fif.gz

# EEG raw formats 
*.eeg
*.vhdr
*.vmrk

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
*.egg-info/
.pytest_cache/

# Env
.env

# OS/editor
.DS_Store

# Scratch files. Don't want in repo
scratch_*.py